<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titulo %> | GeoCalc</title>
  <link rel="stylesheet" href="/style.css">
  </head>
<body>
  <header class="main-header">
    <nav class="main-nav">
      <a href="/" class="nav-logo magic-text-container">Inicio</a>
      <ul class="nav-links">
        <li><a href="/rombo">Rombo</a></li>
        <li><a href="/pentagono">Pentágono</a></li>
        <li><a href="/hexagono">Hexágono</a></li>
      </ul>
    </nav>
  </header>
  <main class="content-wrapper">
    <div class="container">